:root {
  /* font weights */
  --font-thin: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 700;
  --font-semibold: 600;
  --font-extrabold: 800;

  /* font sizes */
  --text-sm: 14px;
  --text-base: 16px;
  --text-xl: 18px;

  /* line heights */
  --line-height-sm: 20px;
  --line-height-base: 24px;
  --line-height-xl: 28px;

  /* base colors */
  --white: #ffffff;
  --black: #000000;

  /* slate colors */
  --slate-50: #F8FAFC;
  --slate-200: #E2E8F0;
  --slate-300: #CBD5E1;
  --slate-400: #94A3B8;
  --slate-500: #64748B;
  --slate-700: #334155;
  --slate-900: #0F172A;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-image: url('images/Globe Background.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: bottom left;
  color: var(--slate-900);
  position: relative;
  z-index: 0;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 202, 95, 0.9);
  z-index: -1;
  pointer-events: none;
}

main {
  /* Do not change it! */
  min-height: 100vh;
}

.header {
  background-color: #FFFFFF;
  width: 100%;
}

.header .contact-btn {
    font-family: "Inter";
  font-weight: var(--font-medium);
  background-color: #375475;
  color: #ffffff;
  font-size: 24px;
  padding: 1rem 3rem;
  border-radius: 8px;
}

.nav {
  max-width: 1600px;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo-text {
  color: white;
}

.title {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #375475;
  margin: 0;
}

.subtitle {
  font-family: 'Inter', serif;
  font-weight: var(--font-medium);
  font-size: 20px;
  color: #375475;
  margin: 0;
  padding-top: 10px;
}

.links {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.links a {
  font-family: 'Inter', serif;
  font-weight: 500;
  font-size: 24px;
  color: #375475;
  text-decoration: none;
}

.main {
  padding: 4rem 2rem;
  max-width: 1600px;
  margin: 0 auto;
}

.spacer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 3rem;
}

.text {
  flex: 0 0 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}

.text h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 64px;
  color: #375475;
  margin: 0 0 1rem;
  margin-top: 7rem;
}

.text h2 {
  font-family: 'Inter', serif;
  font-weight: 700;
  font-size: 24px;
  color: #464550;
  margin: 0 0 1rem;
}

.text p {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #464550;
  line-height: 1.6;
  margin: 0 0 1rem;
}

.button {
  font-family: 'Inter', serif;
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
  background-color: #375475;
  border-radius: 8px;
  padding: 1.5rem 1.5rem;
  width: 250px;
  border: none;
  cursor: pointer;
  align-self: flex-start;
}

.background-img {
  flex-shrink: 0;
  width: 480px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.background-img img {
  width: 25%;
  height: auto;
  transform-origin: top right;
  transform: scale(1.5);
  position: absolute;
  top: 20%;
  right: 10%;
  transform: translateY(-20%)(-20%);
}

.volunteers-img {
  flex-shrink: 0;
  width: 480px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.volunteers-img img {
  width: 25%;
  height: auto;
  transform-origin: top right;
  transform: scale(1.5);
  position: absolute;
  top: 23%;
  right: 8.5%;
  transform: translateY(-20%)(-20%);
}
